body {
  background-color: #000000;
}

canvas {
  display: block;
  position: absolute;
  /*
  border: 2px solid black;
  bottom: 15%;
  top: 2%;
  left: 20%;
  right:2%;
  */
}

button.fnBtn:hover {
  background-color: white;
}

a#exampleImage{
  z-index: 10000;
}